[Unit]
Description=DreamPi Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/dreampi start
ExecStop=/usr/local/bin/dreampi stop
Restart=on-failure 

[Install]
WantedBy=multi-user.target