[Unit]
Description=DreamPi Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/dreampi --no-daemon

[Install]
WantedBy=multi-user.target